{% extends "base.html" %}
{% block title %}Politics Verbatim | {{ candidate }}{% endblock %}
{% block extrahead %}
<link rel="alternate" type="application/rss+xml" title="Politics Verbatim | {{ candidate }}" href="{% url candidate_detail slug=candidate.slug %}feed/" />
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key={{ google_api_key }}" type="text/javascript"></script>
{% include "base/includes/upcoming_event_map.html" %}
{% endblock %}

{% block content %}
{% block bodytag %}<body onload="initialize()" onunload="GUnload()">{% endblock %}
<div id="content-container">
    <div id="content">
 	    <div class="content-head">
                <h2>{{ candidate }}</h2>
	    </div>

	    {% if candidate.description %}
	    <div id="position-box">
	        <div id="position-image"><img src="{{ candidate.topic_image.url }}" width="150px" /></div>
	        {{ candidate.description|safe }}
	    </div>	    

	    <div class="content-head">
                <h2>{{ candidate }}'s most recent statements</h2>
	    </div>
	    {% endif %}

            {% for excerpt in excerpts.object_list %}
	    <div class="excerpt-list">
		<div class="excerpt-left">
		    <div class="photo">
			<a href="{% url excerpt_detail object_id=excerpt.id %}">
			<img class="candidate-photo" src="{{ excerpt.campaign.image.url }}" border="0" />
			{% if excerpt.document.source.image %}<img class="source-icon" src="{{ excerpt.document.source.image.url }}" border="0"/>{% endif %}
			</a>
		    </div>
		</div>
		<div class="excerpt-right">
    
			<h5 class="can-name">{{ excerpt.campaign }}</h5>
			<h5 class="can-name">/</h5>
			<span class="date">{{ excerpt.document.source_date|date:"N j, Y" }}</span>
			<span class="like" style="float:right;">
			    <fb:share-button href="{{ excerpt.get_facebook_url }}" type="button"></fb:share-button>
			    <div class="topsy_widget_data" style="margin-left:80px; margin-top:1px;"><script type="text/javascript">topsyWidgetPreload({ "url": "{{ excerpt.get_facebook_url }}", "title": "{{ excerpt.text|truncatewords:15 }}", "theme": "jade", "nick": "politicsv" });</script></div>
			</span>
		    <p>{{ excerpt.text }}</p>
		    <span class="excerpt-details">
                        <strong>Source:</strong> {% if excerpt.document.url %}<a href="{{ excerpt.document.url }}" target="_blank">{{ excerpt.document.source }}</a>{% endif %}
                        <br />
			<strong>Tags:</strong>
                        {% for tag in excerpt.category.all %}
			<a href="{% url topic_detail slug=tag.slug %}">{{ tag.name }}</a>{% if not forloop.last %},{% else %}{% if excerpt.type.all and excerpt.category.all %},{% endif %}{% endif %}
                        {% endfor %}
                        {% for tag in excerpt.type.all %}
			<a href="{% url type_detail slug=tag.slug %}">{{ tag.name }}</a>{% if not forloop.last %},{% endif %}
                        {% endfor %}
		    </span>
		</div>
	    </div><!-- end excerpt-list -->
            {% endfor %}

            <br />
            {% if excerpts.has_other_pages %}
            <div class="pagination">
                <span class="step-links">
                    <div class="page-box" id="prev-btn">
                    {% if excerpts.has_previous %}
		        <a href="?page={{ excerpts.previous_page_number }}">prev</a>
                    {% endif %}
		    </div>

                    <div class="page-box" id="current">
                        <h5>Page {{ excerpts.number }} of {{ excerpts.paginator.num_pages }}</h5>
                    </div>
                    
                    <div class="page-box" id="next-btn">
                    {% if excerpts.has_next %}
                        <a href="?page={{ excerpts.next_page_number }}">next</a>
                    {% endif %}
                    </div>

               </span>
            </div><!-- end pagination -->
            {% endif %}

    </div><!-- end content -->
    
    <div id="aside">
        {% include "base/includes/excerpt_search.html" %}
	
        {% include "base/includes/right_rail_cloud.html" %}

        {% include "base/includes/right_rail_map.html" %}
                
        {% include "base/includes/right_rail_tweets.html" %}

    </div><!-- end aside -->
    
</div>

{% endblock %}
